.container {
  background: #eee;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 4px;

  display: grid;
  gap: 4px;
  grid-template-columns: 3fr 1px 1fr 1px 1fr;
}

.spacer {
  background-color: #666;
  margin-top: 3px;
  margin-bottom: 3px;
}

.container input {
  padding: 12px 8px;
  outline: none;
  background: none;
  border: none;
  font-size: 18px;
}
