.header {
  background-image: linear-gradient(#009c85, white);
  background-attachment: fixed;
  /* font-size: calc(10px + 2vmin); */
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}
