.container {
  width: 100%;
  font-size: 18px;
}

.inputContainer {
  margin-top: 12px;
  border: 1px solid #666;
  border-radius: 4px;
  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.addButton {
  background: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  align-self: center;
  padding: 12px 16px;

  border: 2px solid #ea9514;
  border-radius: 4px;
  color: #ea9514;
  font-weight: bold;
}

.addButton:hover {
  opacity: 0.8;
}

.addButton:disabled {
  cursor: unset;
  border: 2px solid #999;
  color: #999;
}

.addButton:disabled:hover {
  opacity: 1;
}
