.editingModal {
  position: fixed;
  height: 100vh;
  top: 0;
  right: -50%;
  background-color: #eeeeee9f;
  backdrop-filter: blur(20px);
  box-shadow: 13px 0px 18px #333;
  width: 50%;
  transition: right 0.3s ease-in-out;
  z-index: 2;
}

.show {
  right: 0;
}
