.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease-in-out;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.modalBackground.show {
  pointer-events: unset;
  background-color: rgba(0, 0, 0, 0.15);
}

.editingModal {
  position: fixed;
  height: 100vh;
  top: 0;
  right: -75%;
  background-color: #ffffff9f;
  backdrop-filter: blur(30px);
  box-shadow: 13px 0px 18px #333;
  width: 50%;
  transition: right 0.3s ease-in-out;
  z-index: 3;
  padding: 16px;

  display: flex;
  flex-direction: column;
}

.editingModal.show {
  right: 0;
}

.closeButton:hover {
  cursor: pointer;
}

.content {
  max-height: calc(100vh - 67px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.inputArea {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  overflow-y: scroll;
}

.actionArea {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.saveButton {
  height: 60px;
  width: 33%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  background: #f3b85f;
  border: none;
  color: inherit;
  outline: inherit;
  cursor: pointer;
}

.saveButton:disabled {
  background: #f1ca8f;
  color: #777;
}

.saveButton:enabled:hover {
  opacity: 0.8;
}

.deleteButton {
  height: 60px;
  width: 33%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  background: inherit;
  border-radius: 4px;
  border: 2px solid #ef1a1a;
  color: #ef1a1a;
  outline: inherit;
  cursor: pointer;
}

.deleteButton:hover {
  opacity: 0.8;
}
