.card {
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #f3b85f, #eee);
  width: 300px;
  aspect-ratio: 2/3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.125);
}

.cardImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  opacity: 0.75;
}

.cardTitle {
  text-align: center;
  font-size: 1.75rem;
}

.tagContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 4px;
}
